<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> cashier1 </title>
    <link rel="stylesheet" href="../public/css/cashier.css">
</head>
<body>
    <div class="class">
        <img id="image" src="{{url_for('static',filename='images/final.png')}}" alt="">
    </div>
    <div class="class1">
        <p>Cashier</p>
    </div>
    <p class="desc1">Cashier is a tool that helps users with recording transactions for future reference. <br>
    This facility benefits the users in expense management and reduced financial stress.</p>
    <div class="class2">
        <a  id="link1" href="cashier2.html">Record transactions</a><br>
        <a  id="link2" href="cashier3.html">Display transactions</a>
    </div>
</body>
</html>