<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cashier2</title>
    <link rel="stylesheet" href="{{url_for('static',filename= 'css/cashier.css')}}">
</head>
<body id="body2">
    <div id="image2">
        <img class="image2" src="{{url_for('static',filename= 'images/final.png')}}" align="right">
    </div>
    <div class="rec">
        <p>Record Transactions</p>
    </div>
    <p class="desc2">Record your transactions here and have them shown to you whenever you want.<br>All the following fields are required.</p>
    <form method="post" action="index.php">
        <p class="date">Date<br><input type="date" name="date" id="date" required></p>
        <fieldset required>
            <legend>Transaction type</legend>
        <P class="class4">
             <input type="radio" name="transaction_type" id="credit" >Credit<br>
             <input type="radio" name="transaction_type" id="debit" >Debit       
        </P>
        </fieldset>
        <p class="desc3"> 
           Description
            <br>
            <p class="class5">
            <textarea name="address" id="add" cols="174" rows="3" required></textarea>
            </p>
        </p>
        <p class="class6">
           <p id="amt"> Amount</p>
             <input type="number" name="amount" id="amount" required>
        </p>
        <input type="submit" id="submit" value="Submit"> <input value="Clear" id="clear" type="reset">

    </form>
</body>
</html>